.address {
  display: flex;
  flex: 1 1 0;
  min-width: 0;
}

.address .first {
  flex: 0 1 fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

.address .last {
  flex: 0 0 min-content;
}