:root {
  /* Colors */
  --base-white: #ffffff;
  --blue-sky: #84A7FA;
  --blue-sky-50: #EFF2FE;
  --blue-sky-600: #7998E3;
  --blue-sky-900: #4C6090;
  --charcoal: #232323;
  --primary-orange-50: #FCEDEA;
  --primary-orange-500: #EA6640;
  --secondary-charcoal-400: #6D6D6D;
  --secondary-sand-50: #FBFAF8;
  --secondary-sand-200: #F4EFE9;
  --secondary-sand-960: #5F5A55;

  /* Sizes */
  --flex-gap-small: 8px;
  --flex-gap-regular: 10px;
  --flex-gap-large: 44px;
}

.App {
  background-color: var(--secondary-sand-200);
  box-sizing: border-box;
  color: var(--charcoal);
  display: flex;
  flex-direction: column;
  /* I went with some typical sans-serif fonts here, normally I would package */
  /* the desired font with the app and ship that. */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  min-height: 500px;
  padding: 20px;
}

/* Desktop-specific styles */
@media (min-width: 1280px) {
  :root {
    --flex-gap-regular: 8px;
  }

  .App {
    padding: 48px 24px 24px 24px;
  }
}

@media (min-width: 1920px) {
  .App {
    gap: 20px;
  }
}