:root {
  /* Colors */
  --base-white: #ffffff;
  --secondary-charcoal-400: #6D6D6D;
  --secondary-sand-50: #FBFAF8;
  --secondary-sand-200: #F4EFE9;

  /* Sizes */
  --flex-gap-small: 8px;
  --flex-gap-regular: 10px;
  --flex-gap-large: 44px;
}

.App {
  background-color: var(--secondary-sand-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  min-height: 500px;
  padding: 20px;
}

/* Desktop-specific styles */
@media (min-width: 1280px) {
  :root {
    --flex-gap-regular: 8px;
  }

  .App {
    padding: 48px 24px 24px 24px;
  }
}