.progress-bar {
  display: inline-flex;
  flex: 1 0 160px;
  gap: 1px;
  height: 4px;
  max-width: 160px;
}

.progress-bar div {
  border-radius: 2px;
  height: 100%;
}

.progress-bar .active {
  background-color: var(--blue-sky);
}

.progress-bar .remaining {
  background-color: var(--secondary-sand-200);
}