.transactions-widget {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.transactions-widget .transactions-header {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  gap: 8px;
  margin-bottom: 24px;
  padding: 0 12px;
}

.transactions-widget .transactions-header .toggle-button {
  margin-left: auto;
}

.transactions-widget .transactions-body {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--flex-gap-small);
  overflow: auto;
  padding: 6px 12px;
  /* Give space for the box-shadow */
}

.icon-circle {
  align-items: center;
  background-color: var(--secondary-sand-200);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  height: 44px;
  width: 44px;
}

/* Desktop-specific styles */
@media (min-width: 1280px) {
  .transactions-widget .transactions-header {
    gap: 16px;
  }

  .transactions-widget .transactions-header {
    padding: 0 24px;
  }

  .transactions-widget .transactions-body {
    padding: 6px 24px;
  }
}

@media (min-width: 1920px) {
  .transactions-widget .transactions-header {
    font-size: 18px;
    line-height: 22px;
  }
}